# Выбор СУБД: postgres | mongodb
DATABASE_DRIVER="postgres"

# PostgreSQL (DATABASE_DRIVER=postgres)
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="prac_user"
DATABASE_PASSWORD="prac_password"
DATABASE_NAME="prac"

# MongoDB (DATABASE_DRIVER=mongodb)
DATABASE_URL="mongodb://localhost:27017/prac"

DEBUG=*
PORT=3001
